:root {
  --menu-width: 4em;
}

:root {
  --black: #000;
  --white: #fff;
  --gray-darker: #41494c;
  --gray-dark: #728186;
  --gray: #a3b8c0;
  --gray-light: #becdd3;
  --gray-lighter: #e6e6e6;
  --gray-lightest: #f1f4f5;

  --text-color: #000;

  --primary-color: #4ba82e;
  --primary-color-dark: #449729;

  --home-page-bg-color: #5ba344;
  --motivation-page-bg-color: #5ba344;
  --select-date-page-bg-color: #ffdf43;
  --address-page-bg-color: #7bc8f1;
  --thank-you-page-bg-color: #5ba344;

  --success-color: #5cb85c;
  --info-color: #5bc0de;
  --warning-color: #f0ad4e;
  --danger-color: #fff;

  --select-date-bg-color: #f2f2f2;
  --select-date-border-color: #7f7f7f;
}

@media (--dark-mode) {
  :root {
    --black: #fff;
    --white: #000;
  }
}

:root {
  --container-width-xs: 18rem;
  --container-width-sm: 30rem;
  --container-width-md: 36rem;
  --container-width-lg: 52rem;
  --container-width-xlg: 64rem;

  --gutter: 1em;

  @media (--viewport-md) {
    --gutter: 2em;
  }
}

:root {
  --font-size-base: 18px;
  --font-family-base: 'Skoda Next', sans-serif;
  --line-height-base: 1.5;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-family-tags: 'Filmotype Lucky', sans-serif;
}



@font-face {
  font-family: 'Skoda Next';
  src: url('/fonts/skoda-next-regular.woff2') format('woff2'),
    url('/fonts/skoda-next-regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Skoda Next';
  src: url('/fonts/skoda-next-bold.woff2') format('woff2'),
    url('/fonts/skoda-next-bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Filmotype Lucky';
  src: url('/fonts/filmotype.woff2') format('woff2'),
    url('/fonts/filmotype.woff') format('woff');
  font-weight: 400;
}

html {
  font-size: var(--font-size-base);
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-normal);
  color: var(--text-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-base);
  font-display: optional;
}

p {
  hanging-punctuation: first;
  margin: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
}

h1,
h2,
h3 {
  line-height: 1.1;
  font-weight: var(--font-weight-bold);
}

h1 {
  margin: 0 0 0.5em;
  font-size: 2rem;
}

h2 {
  margin: 0.5em 0 0em;
  font-size: 1.5rem;
}

h3 {
  margin: 0.5em 0 0em;
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0;
}

h5 {
  font-size: 1rem;
  margin: 0;
}

address {
  font-style: normal;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

ol,
ul {
  margin: 0 0 1em;
  padding-left: 1em;
}

button {
  border: none;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  text-decoration: none;
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

a {
  color: inherit;
  text-decoration-skip: auto;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  text-align: center;
  font-weight: var(--font-weight-bold);
  border-radius: 0.25em;
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 0.75em 0.5em;
  font-family: var(--font-family-headings);
  transition: background-color 0.1s ease-in-out;
  border: 2px solid transparent;
  background: var(--white);
  color: var(--text-color);
  &:hover {
    background: var(--primary-color);
    color: var(--white);
  }

  &:hover {
    text-decoration: none;
  }

  &:disabled {
    background: transparent;
    color: var(--white);
    border: 2px dashed var(--white);

    &:hover {
      background: transparent;
    }
  }

  &.btn-primary {
    background: var(--primary-color);
    color: var(--white);

    &:hover {
      background: var(--primary-color-dark);
    }
  }

  &.btn-ghost {
    background: transparent;
    color: var(--white);
    border: 2px solid var(--white);

    &:hover {
      background: var(--white);
      color: var(--text-color);
    }
  }
}

legend {
  padding: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.form-item {
  margin-bottom: 1rem;
}

textarea,
input[type='text'],
input[type='search'],
input[type='number'],
input[type='email'],
input[type='date'],
input[type='tel'],
input[type='url'],
select {
  appearance: none;
  border: 0;
  background: #f2f2f2;
  border-radius: 0.25em;
  width: 100%;
  height: auto;
  padding: 1.25rem 0.75rem 0.75rem;
  font-size: 1rem;
  font-family: inherit;
  transition: border-color 0.15s ease-out;
  background: #f2f2f2;
  transition: background-color 0.1s ease-out;

  &:disabled {
    background-color: var(--gray-lightest);
    color: var(--gray-light);
  }

  &.has-error {
    border-color: var(--color-danger);
  }

  &:focus {
    background: #e4e4e4;
    outline: none;
  }
}

textarea,
input {
  &:read-only {
    cursor: default;
    pointer-events: none;
  }

  &::placeholder {
    color: var(--gray-dark);
  }
}

textarea {
  resize: vertical;
}

label {
  display: block;
  margin-bottom: 0.25em;
  font-weight: var(--font-weight-bold);

  .optional {
    font-weight: var(--font-weight-normal);
  }

  button {
    color: currentColor;
    text-decoration: underline;
  }
}

.form-item {
  margin-bottom: 0;
  position: relative;

  & label {
    position: absolute;
    transition: transform 0.2s ease-out;
    top: 1rem;
    left: 0.75rem;
    line-height: 1.2;
    transform-origin: 0 0;

    &.focus {
      transform: scale(0.7) translateY(-1em);
    }
  }
}
table {
  width: 100%;
  font-size: 1em;
  border-left: 2px solid var(--black);
  border-top: 2px solid var(--black);
  border-right: 2px solid var(--black);
}

th,
td {
  background: var(--white);
  padding: 0.5em;
  text-align: left;
  border-bottom: 2px solid var(--black);

  &:not(:last-child) {
    border-right: 2px solid var(--black);
  }
}

th {
  font-weight: var(--font-weight-bold);
}

td {
  vertical-align: top;
}

thead th {
  vertical-align: bottom;
}

tbody tr:nth-child(2n) {
  & th,
  & td {
    background: var(--black);
  }
}


.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 1em;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



.skip-link {
  background-color: var(--white);
  display: block;
  font-size: 1rem;
  left: -9999em;
  position: fixed;
  z-index: 1000;

  &:focus,
  &:active {
    top: 1rem;
    left: 1rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

*:focus {
  outline: 1px dotted var(--black);
}

.visuallyhidden {
  display: none;
}

/* stylelint-disable-next-line media-feature-name-no-unknown */
@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* stylelint-disable-next-line media-feature-name-no-unknown */
@media screen and (inverted-colors: inverted) {
  img {
    filter: invert(100%);
  }
}

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

::selection {
  background: var(--primary-color);
  color: var(--white);
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: var(--white);
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  overflow-x: hidden;
}

p:empty {
  display: none;
}

main {
  flex: 1 1 auto;
}

.slide-next-enter,
.slide-previous-enter {
  opacity: 0;
}

.slide-next-enter-active,
.slide-previous-enter-active {
  transition: all 0.15s 0.15s;
}

.slide-next-leave-active,
.slide-previous-leave-active {
  transition: all 0.15s;
  opacity: 0;
}

.slide-next-enter {
  transform: translateX(-2em);
}

.slide-previous-enter {
  transform: translateX(2em);
}
.slide-next-leave-active {
  transform: translateX(2em);
}

.slide-previous-leave-active {
  transform: translateX(-2em);
}

@media (--landscape) and (--viewport-md) {
  .slide-next-enter {
    transform: translateY(2em);
  }

  .slide-previous-enter {
    transform: translateY(-2em);
  }
  .slide-next-leave-active {
    transform: translateY(-2em);
  }

  .slide-previous-leave-active {
    transform: translateY(2em);
  }
}

.is-routing {
  overflow: hidden;
}

.center {
  max-width: 74rem;
  margin: 0 auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.center-md {
  max-width: 60rem;
}

.center-sm {
  max-width: 50rem;
}






/*# sourceMappingURL=main.css.map*/