:root {
  --black: #000;
  --white: #fff;
  --gray-darker: #41494c;
  --gray-dark: #728186;
  --gray: #a3b8c0;
  --gray-light: #becdd3;
  --gray-lighter: #e6e6e6;
  --gray-lightest: #f1f4f5;
  --text-color: #000;
  --primary-color: #4ba82e;
  --primary-color-dark: #449729;
  --home-page-bg-color: #5ba344;
  --motivation-page-bg-color: #5ba344;
  --select-date-page-bg-color: #ffdf43;
  --address-page-bg-color: #7bc8f1;
  --thank-you-page-bg-color: #5ba344;
  --success-color: #5cb85c;
  --info-color: #5bc0de;
  --warning-color: #f0ad4e;
  --danger-color: #fff;
  --select-date-bg-color: #f2f2f2;
  --select-date-border-color: #7f7f7f;
}

@media (--dark-mode) {
  :root {
    --black: #fff;
    --white: #000;
  }
}
